@use "variables"as *;
@use "mixins"as *;

* {
  box-sizing: content-box;

  &:focus {
    outline: 2px dashed $black !important;
    outline-offset: -2px !important;
    box-shadow: 0 0 0 2px $white inset !important;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

nav {
  background-color: $gray-200;
  color: $black;

  > ul {
    display: none;
    flex-direction: column;

    &.show {
      display: flex;
    }
  }

  > button {
    display: block;
    border: 0;
    background-color: $gray-200;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    margin-left: auto;
  }

  ul {
    list-style: none;
    background-color: $gray-200;
    color: $black;
    margin: 0;
    padding: 0;

    &.dropdown {
      display: none;
      flex-direction: column;

      &.show {
        display: flex;
      }
    }

    li {
      position: relative;
      margin: 0;
      padding: 0;

      a {
        display: flex;
        margin: 0;
        padding: 1rem 2rem;
        color: $black;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: $gray-300;
        }
      }

      li {
        a {
          padding-left: 3.5rem;
        }

        li a {
          padding-left: 5rem;
        }
      }
    }
  }
}

@include media-desktop() {
  nav {
    > button {
      display: none;
    }

    > ul {
      display: flex;
    }
  }
}
