// Variables.

$white: #fff;
$black: #000;

$gray-100: #e9eaea;
$gray-200: #d4d5d6;
$gray-300: #bebfc1;
$gray-400: #a9aaad;
$gray-500: #939598;
$gray-600: #76777a;
$gray-700: #58595b;
$gray-800: #3b3c3d;
$gray-900: #1d1e1e;
