@use "mixins" as *;

@forward "global";

li {
  &.dropdown > a::after {
    content: "▼";
    margin-left: 0.5rem;
    display: inline-block;
  }

  a {
    justify-content: space-between;
  }
}

@include media-desktop() {
  nav > ul {
    flex-direction: row;
  }

  ul {
    li.dropdown > ul {
      position: absolute;
      top: 100%;
      left: 0;

      ul {
        top: 0;
        left: 100%;
      }

      li {
        a {
          padding-left: 2rem;
        }

        li a {
          padding-left: 2rem;
        }
      }
    }
  }
}
