@use "mixins" as *;

@forward "global";

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

li.dropdown > a::before {
  content: "▼";
  margin-right: 0.5rem;
  display: inline-block;
}

@include media-desktop() {
  main {
    grid-template-columns: 1fr 4fr;
  }
}
