/**
 * Theme variant theme styles.
 */

:root {
  /* Light theme colours. */
  --light-theme-light: var(--white);
  --light-theme-dark: var(--black);
  --light-theme-grey-light: var(--grey-light);
  --light-theme-grey: var(--grey);
  --light-theme-grey-dark: var(--grey-dark);
  --light-theme-primary: var(--blue);
  --light-theme-primary-light: var(--blue-light);
  --light-theme-primary-dark: var(--blue-dark);
  --light-theme-secondary: var(--pink);
  --light-theme-secondary-light: var(--pink-light);
  --light-theme-secondary-dark: var(--pink-dark);

  /* Dark theme colours. */
  --dark-theme-light: var(--black);
  --dark-theme-dark: var(--white);
  --dark-theme-grey-light: var(--grey-dark);
  --dark-theme-grey: var(--grey);
  --dark-theme-grey-dark: var(--grey-light);
  --dark-theme-primary: var(--blue);
  --dark-theme-primary-light: var(--blue-dark);
  --dark-theme-primary-dark: var(--blue-light);
  --dark-theme-secondary: var(--pink);
  --dark-theme-secondary-light: var(--pink-dark);
  --dark-theme-secondary-dark: var(--pink-light);

  /* Active theme colours. */
  --active-theme-light: var(--light-theme-light);
  --active-theme-dark: var(--light-theme-dark);
  --active-theme-grey-light: var(--light-theme-grey-light);
  --active-theme-grey: var(--light-theme-grey);
  --active-theme-grey-dark: var(--light-theme-grey-dark);
  --active-theme-primary: var(--light-theme-primary);
  --active-theme-primary-light: var(--light-theme-primary-light);
  --active-theme-primary-dark: var(--light-theme-primary-dark);
  --active-theme-secondary: var(--light-theme-secondary);
  --active-theme-secondary-light: var(--light-theme-secondary-light);
  --active-theme-secondary-dark: var(--light-theme-secondary-dark);
}

.dark-mode {
  --active-theme-light: var(--dark-theme-light);
  --active-theme-dark: var(--dark-theme-dark);
  --active-theme-grey-light: var(--dark-theme-grey-light);
  --active-theme-grey: var(--dark-theme-grey);
  --active-theme-grey-dark: var(--dark-theme-grey-dark);
  --active-theme-primary: var(--dark-theme-primary);
  --active-theme-primary-light: var(--dark-theme-primary-light);
  --active-theme-primary-dark: var(--dark-theme-primary-dark);
  --active-theme-secondary: var(--dark-theme-secondary);
  --active-theme-secondary-light: var(--dark-theme-secondary-light);
  --active-theme-secondary-dark: var(--dark-theme-secondary-dark);
}
