/**
 * Focus state styles.
 */

@use "../variables";

*:focus-visible,
.focus-visible,
%focus-visible {
  outline-color: var(
    --focus-outline-color,
    var(--active-theme-dark)
  ) !important;
  outline-offset: var(
    --focus-outline-offset,
    calc(var(--focus-width, variables.$focus-width) * -1)
  ) !important;
  outline-style: var(--focus-outline-style, dashed) !important;
  outline-width: var(--focus-width, variables.$focus-width) !important;
  box-shadow: 0 0 0 var(--focus-width, variables.$focus-width) inset
    var(--focus-box-shadow-color, var(--active-theme-light)) !important;
}
