/**
 * Visibility state styles.
 */

.hide,
%hide {
  display: none !important;
}

.show,
%show {
  display: flex !important;
  opacity: 1;
}

.transitioning,
%transitioning {
  display: flex !important;
  opacity: 0;
}
