/**
 * Nav base styles.
 */

@use "../mixins/breakpoint";
@use "../mixins/target";

nav {
  --button-background: var(--nav-background, var(--active-theme-light));
  --button-color: var(--nav-color, var(--active-theme-dark));
  --button-hover-background: var(--menu-item-hover-background, var(--active-theme-secondary));
  --button-hover-color: var(--menu-item-hover-color, var(--active-theme-light));
  --link-color: var(--nav-color, var(--active-theme-dark));
  --link-hover-color: var(--menu-item-hover-color, var(--active-theme-light));

  background: var(--nav-background, var(--active-theme-light));
  color: var(--nav-color, var(--active-theme-dark));
  grid-area: menu;

  > button {
    margin-left: auto;
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;
    flex-direction: column;
    gap: var(--menu-item-spacing, 0.25rem);
    background: var(--menu-background, var(--nav-background, var(--active-theme-light)));
    color: var(--menu-background, var(--nav-color, var(--active-theme-dark)));
    width: 100%;
    min-width: max-content;

    ul {
      --menu-background: var(--sub-menu-background, var(--active-theme-secondary-light));
      --menu-item-background: var(--sub-menu-item-background, var(--active-theme-secondary-light));
      --button-background: var(--sub-menu-item-background, var(--active-theme-secondary-light));
    }
  }

  li {
    position: relative;
    padding: 0;
    min-width: max-content;

    > a {
      @include target.make-target();

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--menu-item-padding, var(--menu-item-padding-y, 0.5rem) var(--menu-item-padding-x, 1rem));
      text-decoration: none;
      background: var(--menu-item-background, var(--nav-background, var(--active-theme-light)));
      color: var(--menu-item-color, var(--nav-color, var(--active-theme-dark)));
      transition: background 250ms linear, color 250ms linear;
      flex: 1 1;

      &:has(+ button[aria-expanded="true"]) {
        --menu-item-background: var(--menu-item-indicator-background, var(--active-theme-secondary-light));
        --menu-item-color: var(--menu-item-indicator-color, var(--active-theme-dark));
      }

      &:hover {
        --menu-item-background: var(--menu-item-hover-background, var(--active-theme-secondary));
        --menu-item-color: var(--menu-item-hover-color, var(--active-theme-light));

        + button {
          --button-background: var(--menu-item-indicator-background, var(--active-theme-secondary-light));
          --button-color: var(--menu-item-indicator-color, var(--active-theme-dark));
        }
      }

      &:has(+ button[aria-expanded="true"]):hover {
        --menu-item-background: var(--menu-item-hover-background, var(--active-theme-secondary));
        --menu-item-color: var(--menu-item-hover-color, var(--active-theme-light));
      }
    }
  }

  .dropdown > button,
  &:not(.top-link-disclosure-menu) .dropdown > a,
  &.top-link-disclosure-menu .dropdown .dropdown > a {
    &::after {
      content: "▾";
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &[aria-expanded="true"] {
      --button-background: var(--menu-item-expanded-background, var(--active-theme-secondary-dark));
      --button-color: var(--menu-item-expanded-color, var(--active-theme-light));
    }
  }

  &:not(.top-link-disclosure-menu) .dropdown > a,
  &.top-link-disclosure-menu .dropdown .dropdown > a {
    &::after {
      padding-left: calc(var(--menu-item-padding-x, 1rem) * 2);
    }
  }

  &.treeview {
    grid-area: tree;
  }

  &.top-link-disclosure-menu {
    li {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@include breakpoint.screen-medium() {
  nav {
    > button {
      display: none;
    }

    > ul,
    > ul.hide {
      display: flex !important;
    }

    li {
      width: auto;
    }

    &:not(.treeview) {
      > ul {
        flex-direction: row;
      }

      .dropdown {
        ul {
          position: absolute;
          top: 100%;
          left: 0;

          .dropdown ul {
            top: 0;
            left: 100%;
          }
        }

        &.dropdown-left ul {
          left: unset;
          right: 0;

          .dropdown ul {
            left: unset;
            right: 100%;
          }
        }
      }
    }
  }
}
