.example-menu {
  border: 1px solid var(--vp-c-divider);
  margin: 1rem 0;
}

.example-menu .menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0.5rem 1rem;
  }
}
