/**
 * CSS custom properties.
 */

:root {
  /* Colours. */
  --black: hsl(0, 0%, 5%);
  --grey: hsl(0, 0%, 50%);
  --grey-light: hsl(0, 0%, 75%);
  --grey-dark: hsl(0, 0%, 25%);
  --white: hsl(0, 0%, 95%);
  --pink: hsl(329, 85%, 48%);
  --pink-light: hsl(329, 85%, 56%);
  --pink-dark: hsl(329, 85%, 40%);
  --pink-pale: hsl(329, 85%, 66%);
  --pink-shadow: hsl(329, 85%, 30%);
  --blue: hsl(224, 94%, 59%);
  --blue-light: hsl(224, 94%, 66%);
  --blue-dark: hsl(224, 94%, 54%);
  --blue-pale: hsl(224, 94%, 76%);
  --blue-shadow: hsl(224, 94%, 44%);
}
