name: Tests
on:
  push:
    branches:
      - 3.x
      - 4.x
  pull_request:
    branches:
      - 3.x
      - 4.x
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install modules
        run: npm install
      - name: Run build
        run: npm run build
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install modules
        run: npm install
      - name: Run eslint
        run: npm run eslint
      - name: Run prettier
        run: npm run prettier -- --check
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install modules
        run: npm install
      - name: Run tests
        run: npm run test:run
